<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body style="background-color: #ecd4ac;">

<div style="background-color: #fcf5e8; margin: 50px auto; max-width: 500px; padding: 30px; border-radius: 10px; color: #778650; font-size: 16px;">
  
  <p>
  <%= @user.first_name %>, are you ready for Christmas?

  <% if @items.size == 0 %>
    You don't have anything on your list! You need to catch up and make sure you have something by
    <strong style="color: #9b3833;"><%= Date.parse(ENV['GIFT_DEADLINE']).to_date.strftime("%A, %B %d") %></strong>.
    You don't want to wait until the last minute.
  <% elsif @items.size > 0 && @items.size < 6 %>
    Do you think you have enough items to cover the amount of people that may be getting you a gift?
    Maybe spend some more time adding a few more gifts.
    We are shooting to have gifts in by
    <strong style="color: #9b3833;"><%= Date.parse(ENV['GIFT_DEADLINE']).to_date.strftime("%A, %B %d") %></strong>, so don't wait until the last minute!
  <% elsif @items.size >= 6 %>
    It looks like you are all set!
  <% end %>

  </p>

  <p>
    Try to encourage some of these other family members to update their lists as well:

    <ul>
      <% @otherMembers.each do |m| %>
        <% if m[:items] < 6 %>
          <li><strong><%= m[:name] %></strong> <%= 'only ' if m[:items] > 0 %>has <%= pluralize(m[:items], 'item') %></li>
        <% end %>
      <% end %>
    </ul>
  </p>

  <% if @items.size > 0 %>
  <p>
    These are the things that are currently on your list:
    <br>

    <ul>
      <% @items.each do |item| %>
        <li><%= item.title %></li>
      <% end %>
    </ul>    
  </p>
  <% end %>

  <center>
  <button style="padding: 10px; border-radius: 5px; margin: 10px auto; color: white; background-color: #9b3833; border-color: #792b28; font-size: 20px; font-weight: bold;">
    <a href="https://family-christmas-app.herokuapp.com" style="text-decoration: none; color: white;">
      Make Changes Here
    </a>
  </button>
  </center>

  <p>If you have any questions, let me know.</p>


  <p>Happy Shopping!</p>

  <br>

  
  <strong>Jessica B. Kazembe</strong>

</div>

</body>
